
<div class="row">
  <h1>Government code search</h1>
  <div class="col col-md-3" id="sidebar">

<%= bootstrap_form_tag(url: "/", method: :get, enforce_utf8: false) do |f| %>
<div class="well search-box form-inline">
  <div class="input-group col-md-12">
    <input type="text" name="q" class="form-control" value="<%= @query %>" placeholder="Search for...">
    <span class="input-group-btn" aria-label="Search">
      <button type="submit" class="btn btn-primary" aria-label="Clear search query">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </span>
  </div>
</div>

<div class="well">
<div class="form-group form-inline">
<% @groups.each do |group, orgs| %>
<div class="checkbox form-control">
  <%= label_tag "country_group[]", group %>
  <%= check_box_tag "country_group[]", group, @selected_groups.include?(group) %>
</div>
<% end %>
</div>
<button type="submit" class="btn btn-primary">
  Filter results
</button>
</div>

<% end %>

</div>
<div class="col col-md-9">
<% if @query.present? %>
<h3>Repositories matching <em><%= @query %></em>
  <a href="<%= url_for only_path: false, country_group: @selected_groups, q: '' %>" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove" aria-label="clear query"></span></a>
  <% if @selected_groups.present? %>
  in <% @selected_groups.each_with_index do |group, i| %><% if i == @selected_groups.size - 1 && @selected_groups.size > 1 %> and <% elsif i > 0 %>, <% end %><%= group %><% end %>
  <a class="btn btn-default btn-xs" href="<%= url_for only_path: false, country_group: [], q: @query %>">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </a>
  <% end %>
  </h3>
<% elsif @selected_groups.present? %>
<h3>Repositories in <% @selected_groups.each_with_index do |group, i| %><% if i == @selected_groups.size - 1 && @selected_groups.size > 1 %> and <% elsif i > 0 %>, <% end %><%= group %><% end %>
<a class="btn btn-default btn-xs" href="<%= url_for only_path: false, country_group: [], q: @query %>">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
</a>
</h3>
<% else %>
<h3>All repositories</h3>
<% end %>

<% if @results.total > 0 %>
  <ul class="list-group">
  <% @results.each_with_index do |result, i| %>
    <li class="list-group-item">
      <big><%= link_to result.name, result.web_url %></big>
      <p><%= result.description %></p
    </li>
  <% end %>
</ul>

<p>Showing <%= @results.first_result_number %> - <%= @results.last_result_number %> of <%= @results.total %> repositories.</p>
<% if @results.has_previous_page? %>
<%= link_to 'Previous', url_for(request.query_parameters.merge(from: @results.previous_page)), class: "btn btn-default" %>
<% end %>
<% if @results.has_next_page? %>
<%= link_to 'Next', url_for(request.query_parameters.merge(from: @results.next_page)), class: "btn btn-default" %>
<% end %>

<% else %>
  <p>No repositories found.</p>
<% end %>

</div>
</div>
<script>
$(function() {
  var form = $('#sidebar form');
  var checkbox = form.find('input[type=checkbox]');
  checkbox.change(function() {
    form.trigger('submit');
  });
});
</script>
